

/*slider*/
.carousel{height:80%;}

.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h1 {
    font-size: 40px;
}

.header-text h1 span {
    background-color: #000;
	color:#eec923;
	padding: 10px;
}

.header-text h2 span {
	background-color: #000;
	color:#eec923;
	padding: 15px;
}

.btn-min-block {
    min-width: 220px;
    line-height: 50px;
}

.btn-theme {
    color: #000;
    background-color: #eec923;
    
    margin-right: 15px;
	font-weight:bold;
	font-size:25px;
}
.btn:hover{color:white;}
#program{
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: #fff;
    text-align: center;
    font-size: 20px;

}

#program h1{
   color: #111;
  //text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}


#program hr{
    border: 0;
    height: 1px;
    background-color: #eec923;
}


#program-slike{
    padding-top: 30px;
}


#citat{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    text-align: right;
	

}

#citat h2 {
    color: #eec923;
    padding-bottom: 30px;
    text-align: center;
}

#citat i {
    color: #eec923;
    padding-bottom: 40px;
    font-size: 32px;
    font-family: 'Pacifico', cursive;
}

#citat p {
    text-align: center;
}



#citat hr {
    border: 0;
    height: 1px;
    background-color: #eec923;
}

.img-circle{
    border: solid #eec923 5px;
}


.img-circle:hover {
    transition: all 0.4s ease-out;  
    opacity: 0.5;
}
#citat3{
    opacity: 0;
}
#citat2{
    //padding-top: 10px;
    padding-bottom: 40px;
    opacity:0;
}
